@page
@model Statistics
@{
    ViewData["Statistics"] = "Statistics";
    ViewData["ActivePage"] = ManageNavPages.Statistics;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="text-center card-title text-primary">Statistics</h5>
                <hr class="bg-primary mb-4">
                <p class="card-text mb-2">Total used tokens: <span id="total-used-tokens" class="font-weight-bold">@Model.TotalUsedTokens</span></p>
                <hr class="bg-primary my-4">
                <p class="card-text mb-2">Cost: <span id="cost" class="font-weight-bold">@Model.CreditGranted</span></p>
                <hr class="bg-primary my-4">
                <p class="card-text mb-2">Credit granted: <span id="CreditGranted" class="font-weight-bold">@Model.Cost</span></p>
                <hr class="bg-primary mt-4">
            </div>
        </div>
    </div>


</div>

<script>
    const username = '@User.Identity?.Name!';
    const atIndex = username.indexOf('@@');
    const displayName = atIndex === -1 ? username : username.substring(0, atIndex);
    document.querySelector('.card-title').textContent = displayName;
</script>
